<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll {{ question.id}} Detail</title>
</head>
<body>
    <h1>{{ question.name }}</h1>
    {% if error_message %}
        <p><strong>{{ error_message}}</strong></p>
    {% endif %}
    <form action="{% url 'polls:vote' question.id%}" method="post">
        {% csrf_token %}
        {% for choice in question.choices.all %}
        <input 
            type="radio" 
            name="choice" 
            id="choice{{ forloop.counter}}"
            value="{{ choice.id }}"
            >

            <label for="choice{{ forloop.counter }}">
                {{ choice.name }} 
            </label>
            <br/>
        {% empty %}
            <h2>No latest polls yet.</h2>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>

</body>
</html>