{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/styles.css' %}">

</head>
<body>
    <img src="{% static 'assets/images/ed.jpg' %}" width="10%">
    {% if latest_polls %}
    <h1 class="white">Latest Polls</h1>
    <ul>
        {% for question in latest_polls %}
        <li>
            <a href="{% url 'polls:detail' question.id %}">{{ question.name }}</a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available</p>

    

{% endif %}
    
</body>
</html>